Easybook.Api.BusinessLogic/Web References/localhost/EWallet_StampService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Generate_Stamp_Key">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenEBW" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Generate_Stamp_KeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Generate_Stamp_KeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Generate_Stamp_KeySoapIn">
    <wsdl:part name="parameters" element="tns:Generate_Stamp_Key" />
  </wsdl:message>
  <wsdl:message name="Generate_Stamp_KeySoapOut">
    <wsdl:part name="parameters" element="tns:Generate_Stamp_KeyResponse" />
  </wsdl:message>
  <wsdl:portType name="EWallet_StampServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Generate_Stamp_Key">
      <wsdl:input message="tns:Generate_Stamp_KeySoapIn" />
      <wsdl:output message="tns:Generate_Stamp_KeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EWallet_StampServiceSoap" type="tns:EWallet_StampServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_Stamp_Key">
      <soap:operation soapAction="http://tempuri.org/Generate_Stamp_Key" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EWallet_StampServiceSoap12" type="tns:EWallet_StampServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_Stamp_Key">
      <soap12:operation soapAction="http://tempuri.org/Generate_Stamp_Key" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EWallet_StampService">
    <wsdl:port name="EWallet_StampServiceSoap" binding="tns:EWallet_StampServiceSoap">
      <soap:address location="http://walletstamptest.easybook.com/" />
    </wsdl:port>
    <wsdl:port name="EWallet_StampServiceSoap12" binding="tns:EWallet_StampServiceSoap12">
      <soap12:address location="http://walletstamptest.easybook.com/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>